/* mediaqueries.css */

@media screen and (max-width: 1400px) {
    #profile {
        height: 83vh;
        margin-bottom: 6rem;
    }
    .about-containers {
        flex-wrap: wrap;
    }
    #contact,
    #projects {
        height: fit-content;
    }
}

@media screen and (max-width: 1200px) {
    /* Adjust styles for the desktop navigation to remain hidden */
    #desktop-nav {
        display: none;
    }
    
    /* Shows phone navigation icon */
    #phone-nav {
        display: flex;
    }

    #contact {
        margin-top: 10rem;
    }

    #experience,
    .experience-details-container {
        margin-top: 2rem;
    }
    #profile,
    .section-container {
        display: block;
    }
    .arrow {
        display: none;
    }
    section,
    .section-container {
        height: fit-content;
    }
    section {
        margin: 0 5%;
    }
    .section__pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }
    .about-containers {
        margin-top: 0;
    }
}

@media screen and (max-width: 600px) {
    #about,
    #profile {
        margin-bottom: 2rem; /* Adjust the margin to bring the sections closer */
    }
    #contact,
    #projects {
        margin-bottom: 10rem; /* Adjust the margin to bring the sections closer */
    }
    #contact {
        max-width: 400px;
        margin: 0 auto; /* Centers the contact section horizontally */
        padding: 1rem;
    }
    .about-col-2 {
        text-align: center; /* Centers the "About Me" heading */
    }
    .tab-titles {
        display: flex;
        justify-content: center; /* Center the tab-titles */
    }

    .tab-links {
        text-align: center; /* Center the text within each tab-link */
        margin-right: 20px; /* Add margin for spacing between tab-links if needed */
    }

    .tab-links:last-child {
        margin-right: 0; /* Remove margin for the last tab-link to make sure it is centered */
    }
    .about-image-container {
        margin: 0 auto; /* Centers the image container */
    }
    .about-image-container img {
        width: 100%; /* Make the image fill 80% of the width on mobile screens */
        max-width: none; /* Remove the max-width constraint */
        border-radius: 50%; /* Ensure the image is a circle (if applicable) */
        margin: 0 auto; /* Center the image horizontally */
        display: block; /* Ensure the image is treated as a block-level element */
    }
    .section_pic-container {
        text-align: center;
        height: auto;
        line-height: 1;
        margin-bottom: 2rem;
    }

    .section_pic-container img {
        width: 80%;
        max-width: 400px;
        border-radius: 50%;
        margin: 0 auto;
        display: block;
    }
}
