/* mediaqueries.css */

@media screen and (max-width: 1400px) {
    #profile {
        height: 83vh;
        margin-bottom: 6rem;
    }
    .about-containers {
        flex-wrap: wrap;
    }
    #contact,
    #projects {
        height: fit-content;
    }
}

@media screen and (max-width: 1200px) {
    /* Adjust styles for the desktop navigation to remain hidden */
    #desktop-nav {
        display: none;
    }
    
    /* Shows phone navigation icon */
    #phone-nav {
        display: flex;
    }

    #contact {
        margin-top: 10rem;
    }

    #experience,
    .experience-details-container {
        margin-top: 2rem;
    }
    #profile,
    .section-container {
        display: block;
    }
    .arrow {
        display: none;
    }
    section,
    .section-container {
        height: fit-content;
    }
    section {
        margin: 0 5%;
    }
    .section__pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }
    .about-containers {
        margin-top: 0;
    }
}

@media screen and (max-width: 600px) {
    #about,
    #profile {
        margin-bottom: 2rem; /* Adjust the margin to bring the sections closer */
    }
    .section_pic-container {
        text-align: center; /* Center the content horizontally */
        height: 375px; /* Adjust the height as needed */
        line-height: 375px; /* Center vertically using line-height */
    }

    .section_pic-container img {
        width: auto;
        max-width: 100%; /* Set a maximum width if needed *//* Ensure the image is a circle */
        vertical-align: middle; /* Align the image vertically in the middle */
    }
    #contact,
    #projects {
        margin-bottom: 10rem; /* Adjust the margin to bring the sections closer */
    }
    #contact {
        max-width: 400px;
        margin: 0 auto; /* Centers the contact section horizontally */
        padding: 1rem;
    }
    article {
        font-size: 1rem;
    }
    .about-containers,
    .contact-info-upper-container,
    .btn-container {
        flex-wrap: wrap;
    }
    .about-col-2 {
        text-align: center; /* Centers the "About Me" heading */
    }
    .tab-titles {
        display: flex;
        justify-content: center; /* Center the tab-titles */
    }

    .tab-links {
        text-align: center; /* Center the text within each tab-link */
        margin-right: 20px; /* Add margin for spacing between tab-links if needed */
    }

    .tab-links:last-child {
        margin-right: 0; /* Remove margin for the last tab-link to make sure it is centered */
    }
    .about-image-container {
        margin: 0 auto; /* Centers the image container */
    }
    .about-image-container img {
        width: 100%; /* Make the image fill 95% of the width on mobile screens */
        max-width: none; /* Remove the max-width constraint */
    }
    .contact-info-container {
        margin: 0;
    }
    .contact-info-container p,
    .nav-links li a {
        font-size: 1rem;
    }
    .experience-sub-title {
        font-size: 1.25rem;
    }
    .logo {
        font-size: 1.5rem;
    }
    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .section__pic-container {
        width: auto;
        height: 46vw;
        justify-content: center;
    }
    .section__text__p2 {
        font-size: 1.25rem;
    }
    .title {
        font-size: 2rem;
    }
    .text-container {
        text-align: justify;
    }
    .details-container {
        width: 100%;
        margin-bottom: 20px; /* Adjusts the margin for spacing between stacked projects */
    }
}
